/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  padding: 5px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 75%;
  text-align: left;
}

.container {
  border: 1px solid black;
  background-color: #49728B;
  width: 90%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  font-family: Helvetica;
  color: white;
}

#container {
  border: 1px solid black;
  background-color: #49728B;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}


#one  {
  float: right;
  border: 1px solid black;
  width: 40%;
  text-align: center;
  color: white;
  background-color: #C4B25B;
}

#two  {
  float: right;
  border: 1px solid black;
  width: 40%;
  text-align: center;
  color: white;
  background-color: #C76A73;
}

#three  {
  float: right;
  border: 1px solid black;
  width: 40%;
  text-align: center;
  color: black;
  background-color: #C76A73;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .large {
    float: left;
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .medium {
    float: left;
    width: 50%;
  }
  .medium-drei {
    float: left;
    width: 100%;
  }
  #container {
    width: 95%
  }
}
